<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<table>
  <thead>
  <tr>
    <th class="emphasize">Username:</th>
    <th class="emphasize">Email:</th>
  </tr>
  </thead>

  <tbody>
  <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %></td>
        <td ><%= author.email %></td>
        <td class="space_to_right"></td>
        <td class="space_to_right"><%= link_to 'Show', author %></td>
        <br/>
        <% if author.email != 'admin@example.com' %>
            <td class="space_to_right"><%= link_to 'Edit', edit_author_path(author) %></td>
            <br/>
            <td class="space_to_right"><%= link_to 'Destroy', author, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
    <%= link_to 'Create New Author', new_author_path, :class => "better_line_separation" %>
    <br />
    <%= link_to "<< Back to Articles List", articles_path, :class => "better_line_separation" %>
<% end %>
